In [17]:
# append path to find utils module in urbansim
import os 
import sys
cwd = os.getcwd() 
parentdir =  os.path.abspath(os.path.join(cwd, os.pardir))
sys.path.append(parentdir) # to get path to utils module

import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from database import get_connection_string

db_connection_string = get_connection_string('..\data\config.yml', 'mssql_db')
mssql_engine = create_engine(db_connection_string)

In [18]:
percentages = np.repeat(0, 2).tolist() + np.repeat(.02, 16).tolist() + np.repeat(.1, 16).tolist()
yr = list(range(2017, 2051))
adu_share_df = pd.DataFrame({'yr': yr,'allocation': percentages})

In [19]:
adu_share_df['version_id'] = 1

In [20]:
adu_share_df = adu_share_df[['version_id','yr','allocation']]

In [23]:
adu_share_df.head()

   version_id    yr  allocation
0           4  2017       0.000
1           4  2018       0.000
2           4  2019       0.000
3           4  2020       0.000
4           4  2021       0.007

In [22]:
adu_share_df = pd.read_csv('adu_allocation.csv')

In [24]:
adu_share_df

    version_id    yr  allocation
0            4  2017       0.000
1            4  2018       0.000
2            4  2019       0.000
3            4  2020       0.000
4            4  2021       0.007
5            4  2022       0.008
6            4  2023       0.009
7            4  2024       0.010
8            4  2025       0.012
9            4  2026       0.014
10           4  2027       0.016
11           4  2028       0.018
12           4  2029       0.020
13           4  2030       0.020
14           4  2031       0.020
15           4  2032       0.020
16           4  2033       0.025
17           4  2034       0.025
18           4  2035       0.030
19           4  2036       0.040
20           4  2037       0.060
21           4  2038       0.080
22           4  2039       0.090
23           4  2040       0.100
24           4  2041       0.110
25           4  2042       0.120
26           4  2043       0.130
27           4  2044       0.140
28           4  2045       0.140
29           4  2046       0.160
30           4  2047       0.170
31           4  2048       0.180
32           4  2049       0.190
33           4  2050       0.220

In [25]:
adu_share_df.to_sql(name='urbansim_lite_adu_control', \
                        con=mssql_engine, schema='urbansim', index=False,if_exists='append')